table, tr, td, th{
    border: 1px dotted red;
    border-collapse: collapse;
}

tbody tr td:last-child{
    background-color: greenyellow;
}

tbody tr td:nth-last-child(3){
    background-color: khaki;
}

#gyakorlas{
    background-color:deepskyblue;
}

button:has(+p){
    background-color: salmon;
}

button:not(:has(+p)){
    background-color: mediumspringgreen;
}

#gyakorlas:has(+a:hover) button{
    color: red;
    font-weight: bold;
}

tr:not(:has(td[rowspan]))+tr:not(:has(td[rowspan])):hover td{
    background-color:mediumpurple;
}

tr:has(td[rowspan]):hover td{
    background-color: darkgreen;
}

tr:has(td[rowspan]):hover+tr td{
    background-color: lightgreen;
}

tr:has(td[rowspan]):has(+tr:hover) td{
    background-color: darkgreen;
}

tr:has(td[rowspan])+tr:hover td{
    background-color: lightgreen;
}
/*༼ つ ◕_◕ ༽つ*/